numpy
pandas
scikit-learn
xgboost
lightgbm
torch
matplotlib
seaborn
joblib
tqdm
shap
transformers
simple-icd-10
streamlit
plotly
stable-baselines3
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pydantic-settings
alembic
